.Device {

}

.Device .measurements {
	display: flex;
	flex-direction:row;
	justify-content: center;
}

.Device .measurements > * {
	flex: 1;
	margin: 20px;
}

.Device .measurements > *:first-child {
	margin-left: 0;
}

.Device .measurements > *:last-child {
	margin-right: 0;
}
