.NavBar {
  background-color: #3cafdb;
  height: 50px;
  padding: 20px;
  color: white;
}

.NavBar > .left {
	float: left;
}

.NavBar > .right {
	float: right;
}

.NavBar > * {
	line-height: 50px;
	margin: 0 15px;
}

.NavBar .alert-icon {
	margin-top: 12.5px
}

.NavBar input {
	padding: 10px;
	font-size: 20px;
}
